{
  "swagger": "2.0",
  "info": {
    "title": "GPPB Backend API",
    "version": "1.0",
    "description": "Custom Connector for Global Power Platform Bootcamp"
  },
  "host": "apim-gppb15075.azure-api.net",
  "basePath": "/gppb",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/weatherforecast": {
      "get": {
        "operationId": "GetWeatherForecast",
        "summary": "GetWeatherForecast",
        "tags": [
          "weather"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WeatherForecast"
              }
            },
            "examples": {
              "application/json": [
                {
                  "date": {
                    "year": 0,
                    "month": 0,
                    "day": 0,
                    "dayOfWeek": 0,
                    "dayOfYear": 0,
                    "dayNumber": 0
                  },
                  "temperatureC": 0,
                  "summary": "string",
                  "temperatureF": 0
                }
              ]
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DateOnly": {
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer"
        },
        "dayOfWeek": {
          "$ref": "#/definitions/DayOfWeek"
        },
        "dayOfYear": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "dayNumber": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "DayOfWeek": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "type": "integer"
    },
    "WeatherForecast": {
      "type": "object",
      "properties": {
        "date": {
          "$ref": "#/definitions/DateOnly"
        },
        "temperatureC": {
          "format": "int32",
          "type": "integer"
        },
        "summary": {
          "type": "string"
        },
        "temperatureF": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "additionalProperties": false
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}